.embla {
  position: relative;
  padding: 0;
  max-width: 100%;
  margin: 0 auto 2rem;

  &__viewport {
    overflow: hidden;
    width: 100%;

    &.is-draggable {
      cursor: move;
      cursor: grab;
    }
    &.is-dragging {
      cursor: grabbing;
    }
  }

  &__container {
    display: flex;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
    margin-left: -3.5vw;
  }

  &__slide {
    padding-left: 3.5vw;
    min-width: 80%;
    position: relative;

    @media screen and (min-width: 600px) {
      min-width: 50%;
    }

    @media screen and (min-width: 1400px) {
      min-width: 35%;
    }

    &__inner {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }
  }

  &__button {
    outline: 0;
    cursor: pointer;
    touch-action: manipulation;
    position: absolute;
    z-index: 2;
    top: 50%;
    padding: 0;
    width: 3rem;
    height: 3rem;
    @include flex-center;
    border-radius: 100%;
    border: 0;
    box-shadow: 0 0 0 0.25rem $accent-blue;
    margin-top: -1.5rem;
    background: rgba($grey, 0.8);
    opacity: 0.7;
    color: #fff;
    font-size: 1.3rem;
    transition: 0.5s;

    @media screen and (min-width: 1400px) {
      width: 4rem;
      height: 4rem;
      margin-top: -2rem;
    }

    &:hover {
      opacity: 1;
    }

    &:disabled {
      cursor: default;
      opacity: 0.2;
    }

    &--prev {
      left: 5vw;
    }

    &--next {
      right: 5vw;
      box-shadow: 0 0 0 0.25rem $accent-pink;
    }
  }
}
