$gradient-from: #f5af19;
$gradient-to: #f12711;

$cta: #ffcc00;
$cta-rgb: rgba(255, 204, 0, 0.9);
$accent-blue: #00ccff;
$accent-blue-rgb: rgba(0, 204, 255, 0.9);
$accent-pink: #ff00cc;
$accent-pink-rgb: rgba(255, 0, 204, 0.9);

$grey: #121212;
$white: #fff;

$scarlet: #a82200;

$font: "Nunito Sans", sans-serif;

// social media links colors
$silver: #999999;
$skype: #1994d0;
$green: #39b54a;
$linkedin: #0080b1;
