@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin font-bold {
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}

@mixin accent-shadow($amount: 0.1, $box: false) {
  &::before,
  &::after {
    display: block;
    position: absolute;
    content: attr(data-heading);
    text-align: center;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    opacity: 0.9;
    border-radius: inherit;
  }

  &::before {
    margin-left: -#{$amount}em;
    margin-top: #{$amount}em;
    color: $accent-blue;

    @if $box == true {
      background: $accent-blue;
    }
  }

  &::after {
    margin-left: #{$amount}em;
    margin-top: -#{$amount}em;
    color: $accent-pink;

    @if $box == true {
      background: $accent-pink;
    }
  }
}
