@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin font-bold {
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}

@mixin accent-shadow($amount: 0.1, $box: false) {
  @if $box == true {
    box-shadow: #{$amount}em -#{$amount}em $accent-pink-rgb,
      -#{$amount}em #{$amount}em $accent-blue-rgb;
  } @else {
    text-shadow: #{$amount}em -#{$amount}em $accent-pink-rgb,
      -#{$amount}em #{$amount}em $accent-blue-rgb;
  }
}
