$gradient-from: #f5af19;
$gradient-to: #f12711;

$cta: #ffcc00;
$cta-rgb: rgba(255, 204, 0, 0.9);
$accent-blue: #00ccff;
$accent-pink: #ff00cc;

$grey: #121212;
$white: #fff;

$scarlet: #ff3300;

$font: "Nunito Sans", sans-serif;
